.background{
    background-image: url("/src/components/images/healthcare_bg.jpg");
    height: 590px;
    background-size: cover;
    background-position: center;
  }

  .drugs{
    background-image: url("/src/components/images/drugs-bg.jpg");
    height: 590px;
    background-size: cover;
    background-position: center;
  }

.drugscontent{
  color:antiquewhite;
  font-size: xx-large;
  font-style: italic;
}

  .headinghome{
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-decoration: wavy;
  }

  .privacy{
    text-align: center;
  }