.nav-item{
    font-size:larger;
    text-decoration:none;
    font-weight: 700;
    color: rgb(4, 4, 81);
}

.nav-link{
    text-decoration: none;
}

.navbar-brand{
    font-size: xx-large;
    font-weight: 500;
    color:rgb(27, 6, 113);
}